@use 'sass:map';
@use 'themes' as *;
@use 'common/loading';
@use 'components/DefinitionList';
@use 'components/SubscriptionCard';
@use 'components/UserCard';
@use 'flex';

// Theme
// Common styles
// Components
// Utilities

// Base styles
body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: all var(--transition-speed) ease;
  font-family: var(--primary-font);
}

// Theme transition
* {
  transition:
    background-color var(--transition-speed) ease,
    color var(--transition-speed) ease,
    border-color var(--transition-speed) ease,
    box-shadow var(--transition-speed) ease;
}